* {
    margin: 0;
    padding: 0;
}

body {
    border: 2px solid green;
    background-color: hsl(217, 54%, 11%);
    font-family:'Outfit', sans-serif; ;
}

main {
    text-align: center;
    width: 300px;
    margin: auto;
    background-color: hsl(216, 50%, 16%);
    border-radius: 2%;
    margin-top: 300px;
}

img {
    width: 85%;
    border-radius: 2%;
    margin-top: 10px;
}
h1{
    margin-bottom: 10px;
}
.main-content{
    display: inline-block;
    margin-bottom: 10px ;
}
.valor{
    margin-right: 110px;
    display: inline-block;
}
.rodape-card{
    padding: 10px 0px;
    display: block;
}






















footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}