* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family:'Outfit', sans-serif; ;
    
}

main {
    text-align: center;
    width: 330px;
    margin: auto;
    background-color: hsl(216, 50%, 16%);
    border-radius: 2%;
    margin-top: 200px;
    height: 530px;
    /* border: 2px solid black; */
    box-shadow: 2px 2px 2px 1px rgba(93, 91, 99, 0.2);

}

.imagem-principal {
    width: 90%;
    border-radius: 2%;
    margin-top: 16px;
    margin-bottom: 20px;
    
    
}
h1{
    margin-bottom: 10px;
    color: hsl(0, 0%, 100%);
    text-align: left;
    margin-left: 20px;
    font-size: 22px;
}
.main-content{
    display: inline-block;
    margin-bottom: 10px ;
    text-align: left;
    padding: 0px 20px;
    color: hsl(215, 51%, 70%);
}
.valor{
    margin-right: 110px;
    display: inline-block;
    color: hsl(178, 100%, 50%);
}
.rodape-card{
    padding: 10px 0px;
    display: inline-block;
    margin-right:30px;
}
.linha{
    border: 1px solid gray;
    width: 90%;
    display: inline-block;
}
.imagem-avatar{
    width: 30px;
    border-radius: 100%;
    border:1px solid white;
    display: inline-block;
    align-items: center;
    position: absolute;
}
.tempo{
    color: hsl(215, 51%, 70%);
}
#primeira-mensagem{
    color: hsl(215, 51%, 70%);
    position: relative;
    left: 40px;
    bottom:-5px;
}
#segunda-mensagem{
    color: hsl(0, 0%, 100%);
    position: relative;
    left: 40px;
    bottom:-5px;

}






















footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}